# Windows binaries
*.exe
*.dll


# QtCreator project user settings
*.user

# QtCreator builds
build-*


# Objects
*.o
*.obj


# Game log and config
*.log
*.cfg

# Game data
csm.bin
CSM.BIN
CSM.bin
csm.BIN
CURSED/
CURSED/*
cursed/
cursed/*
MUSIC/
MUSIC/*
music/
music/*
ADDON1/
ADDON1/*
addon1/
addon1/*
borough/
borough/*
BOROUGH/
BOROUGH/*

# Game saves
saves/*

# Screen shots
*.tga
*.TGA

# Build system
CMakeFiles/*
CMakeFiles
cmake_install.cmake
install_manifest.txt
CMakeCache.txt
Makefile
ArchiveDepacker
BlendtabAnalyzer
CarToTGAConverter
CelDepacker
FloorsExtractor
MapToTGAConverter
ObjToTGAConverter
PaletteExtractor
PanzerChasm
